@import url('https://rsms.me/inter/inter.css');

body {
    font-family: 'Inter', sans-serif;
	font-size: 14px;
	font-style: normal;
	font-weight: normal;
	letter-spacing: normal;
	line-height: 25px;
	text-transform: none;
	color: #2f3540;
    text-rendering: optimizeLegibility;
}
.profile h4, .profile #avatar, nav.main-nav a.cta {
	display: none;
}
.p-name {
    letter-spacing: -0.05em;
}
p a {
    border-bottom: 1px solid #aaa;
}
nav.main-nav {
    text-transform: lowercase;
}
nav.main-nav a, #footer a, #post-nav a, p a {
    box-shadow: none;
 	font-weight: 400;
}
footer #wrapper, #footer a {
    color: #aaa;
  	text-transform: lowercase;
    font-weight: 400;
}
.dates {
    font-weight: 400;
    font-size: 12px;
    color: #aaa;
    text-transform: lowercase;
}
